@import '../../../styles/mixin'

.container
  @include container($maxWidth: sm)

mat-form-field
  width: 100%

.mat-form-field-appearance-outline
  .mat-form-field-infix
    padding-top: 0.5em

mat-chip
  &.mat-standard-chip
    cursor: pointer
