<div class="container">
  <mat-form-field appearance="outline" floatLabel="never">
    <input
      matInput
      placeholder="Search movie"
      [(ngModel)]="term"
      #ctrl="ngModel"
      (input)="search(ctrl.value)"
      type="search"
    />
  </mat-form-field>
  <mat-chip-list [multiple]="true">
    <mat-chip
      *ngFor="let genre of genreOptions | keyvalue"
      (click)="toggleGenre(genre.value)"
      [selected]="genreSelected.has(genre.value)"
      selectable
    >
      {{genre.key}}
    </mat-chip>
  </mat-chip-list>
</div>

