<div class="back-container">
  <button
    (click)="goBack()"
    mat-button
    color="secondary"
  >
    <mat-icon>arrow_back</mat-icon>
    Go back to List
  </button>
</div>
<div class="detail-container" *ngIf="movie$|async; let movie">
  <div class="flex-container" fxLayout="row">
    <div class="poster">
      <img src="assets/images/movie-covers/{{movie.img}}" />
    </div>
    <div fxFlex="1 0 0" class="details">
      <h1 class="mat-title">
        {{movie.name}}
        <span class="rating">
          <mat-icon>star</mat-icon>
          {{movie.rate}}
        </span>
      </h1>
      <p class="mat-body1">{{movie.genres.join(', ')|titlecase}}</p>
      <p class="mat-body1">{{movie.length}}</p>
      <p class="mat-body1">{{movie.description}}</p>
    </div>
  </div>
</div>
