@import '../../../styles/mixin'

.detail-container
  @include container($maxWidth: md)
  .mat-title
    .rating
      @include primary-color
      margin-left: 16px
      mat-icon
        display: inline-flex
        vertical-align: text-top
  .details
    padding: 0 16px

.back-container
  @include container($maxWidth: xl)
  padding: 20px 10px

