@import 'theme'

$breakpoint-xs: 0px
$breakpoint-sm: 600px
$breakpoint-md: 960px
$breakpoint-lg: 1280px
$breakpoint-xl: 1920px

@mixin primary-color
  $primary-color: map-get($primary, 400)
  color: $primary-color

@mixin container($maxWidth: false, $disableGutters: false)
  width: 100%
  margin-left: auto
  box-sizing: border-box
  margin-right: auto
  padding-left: 16px
  padding-right: 16px
  display: block
  @if $disableGutters
    padding-left: 0px
    padding-right: 0px
  @if $maxWidth == xs
    @media (min-width: $breakpoint-xs)
      max-width: 444px
  @else if $maxWidth == sm
    @media (min-width: $breakpoint-sm)
      max-width: $breakpoint-sm
  @else if $maxWidth == md
    @media (min-width: $breakpoint-md)
      max-width: $breakpoint-md
  @else if $maxWidth == lg
    @media (min-width: $breakpoint-lg)
      max-width: $breakpoint-lg
  @else if $maxWidth == xl
    @media (min-width: $breakpoint-xl)
      max-width: $breakpoint-xl


