@import '../../../styles/mixin'

h1
  @include primary-color
  text-align: center
  padding: 30px 20px 10px
  margin-bottom: 0
  font-weight: 500
  font-size: 35px

mat-grid-list
  @include container($maxWidth: xl, $disableGutters: false)
  margin-top: 30px

mat-grid-tile
  &:hover
    img
      transform: scale(1.2)
  img
    min-width: 100%
    min-height: 100%
    flex-shrink: 0
    transition: transform 0.5s
  .tile-bar
    display: flex
    height: 68px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    align-items: center
    background: rgba(0, 0, 0, 0.7)
    .title-wrap
      margin-right: 0
      color: #fff
      overflow: hidden
      flex-grow: 1
      margin-left: 16px
      margin-right: 16px
      .title
        overflow: hidden
        font-size: 1rem
        line-height: 24px
        white-space: nowrap
        text-overflow: ellipsis

.no-movie-found
  @include container($maxWidth: xs)
  @include primary-color
  text-align: center
  margin-top: 30px
  mat-icon
    font-size: 50px
    height: 50px
    width: 50px

