<h1 class="mat-headline" color="">
  <mat-icon>movie</mat-icon>
  MovieDB
</h1>
<app-movie-search></app-movie-search>
<mat-grid-list
  #grid
  cols="8"
  rowHeight="300px"
  *ngIf="(movies$|async).length > 0; else noMovieFound"
>
  <a *ngFor="let movie of (movies$|async)" [routerLink]="['/movies', movie.id]">
    <mat-grid-tile>
      <img src="assets/images/movie-covers/{{movie.img}}" />
      <div class="tile-bar">
        <div class="title-wrap">
          <div class="title">{{movie.name}}</div>
        </div>
      </div>
    </mat-grid-tile>
  </a>
</mat-grid-list>
<ng-template #noMovieFound>
  <div class="no-movie-found">
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    <p class="mat-display-1">No movies meet specified criteria</p>
  </div>
</ng-template>
